<!DOCTYPE html>
<html>

<head>
    <title>Mi Portafolio - Habilidades</title>
    <link rel="stylesheet" href="/css/habilidades.css">
</head>

<body>
    <header>
        <h1>Mis Habilidades</h1>
        <br>
        <nav>
            <a class="button" href="/">Inicio</a>
            <a class="button" href="/habilidades">Habilidades</a>
            <a class="button" href="/contacto">Contacto</a>

        </nav>
    </header>
    <main>
        <div class="skill-category">
            <h2>Lenguajes de Programación</h2>
            <ul>
                <li><%= lenguaje1 %></li>
                <li><%= lenguaje2 %></li>
                <li><%= lenguaje3 %></li>
            </ul>
        </div>
        <div class="skill-category">
            <h2>Frameworks y Librerías</h2>
            <ul>
                <li><%= f1 %></li>
                <li><%= f2 %></li>
                <li><%= f3 %></li>
            </ul>
        </div>
    </main>
    <footer>
      <p>
        <a href="/privacidad">Política de privacidad |</a>
        <a href="/terminos">Términos de servicio </a>
      </p>
    </footer>
</body>

</html>
